@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    // navBar高度为50px 并且上下padding为10px 所以应该控制留出70px的高度
    top: 70px;
    // 总高度减去空出来的70px
    height: calc(100vh - 70px);
    // 溢出内容可滚动显示
    overflow: scroll;
    // 滚动条隐藏
    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      display: none;
    }
    background-color: themed("bg");
    color: themed("textColor");
    .container {
      padding: 20px;
      hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span {
          font-size: 12px;
        }
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-size: 14px;
          }
        }
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          img {
            width: 30px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
