.rightBar {
  flex: 3;
  position: sticky;
  // navBar高度为50px 并且上下padding为10px 所以应该控制留出70px的高度
  top: 70px;
  // 总高度减去空出来的70px
  height: calc(100vh - 70px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
